 .btn1{
 &:link,
 &:visited{
    width:20rem;
    display:block;
    text-transform:uppercase;
    background-color:var(--color-white);
    color:var(--color-primary);
    text-decoration:none;
    padding:1.6rem;
    font-weight:500;
    background-size:250%;
    background-image:linear-gradient(120deg, transparent 0%, transparent 50%,var(--color-primary) 50% );
    transition: all 0.6s;
 }

 &:hover,
 &:active{
 background-position:100%;
 color:var(--color-white);
 transform:translatex(1rem); 
  
 }
//getwaves.io


 }

 .services{ display:flex;
 margin:0 6rem;
 flex-wrap:wrap;


 }

 .services-box{
 background-color:var(--color-lightgrey);
 width:20rem;
 //height:7rem;
 margin:1.5rem;
 flex:1 1 29%;
 display:flex;
 align-items:center;
 justify-content:center;

 &__icon{
         width:4.8rem;
         height:11rem;
         fill:var(--color-primary-light);
         padding-right:2rem;
         opacity:0;
         transition:all .5s;
         transform:scale(.5);
 }

 &__title{
 color:var(--color-black);
 font-size:2.4rem;
 padding:3rem 6rem 3rem 0;
 font-weight:400;
 transform:translateX(-1.6rem);
  transition:all .5s;

 }

 &:hover{
 background-color:var(--color-primary);
 }

 &:hover &__title {
 color:var(--color-white);
 transform:translateX(3rem);

 }

 &:hover &__icon {
 opacity:0.8;
 transform:scale(1.6);

 

 }
 }
 //icomoon.io

 .team-mates{
       display:flex;
       justify-content:space-around;
       flex-wrap:wrap;


 }

 .team-mate{
          border-radius:50%;
          border:3px solid var(--color-primary);
          width:24rem;
          height:24rem;
          background-size:cover;
          background-position:center;
          position:relative;
          
          

          &--1{background-image:url(img/eso.jpg);
          

          }

          &--2{background-image:url(img/eso.jpg);
         

          }


           &--3{
          background-image:url(img/eso.jpg);
          
          }

          




&__overlay{
    position:absolute;
    top:0;
    left:0;
    width:23.7rem;
    height:23.7rem;
    border-radius:50%;
    background-color: rgba($color-primary,0.4);
    opacity:0;
    transition:opacity .4s;
}

&:hover &__overlay {
    opacity:1;
}


&__content{
    color:var(--color-white);
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-25%, -50%);
    opacity:0;

    transition: all .5s .3s;

}

&:hover &__content {
    opacity:1;
     
     top:50%;
}

&__name{
    font-size:2.4rem;
    font-weight:400;
}

&__designation{
    font-weight:300;
    font-size:1.75rem;
}

 }


 .social-media{
      display:flex;
      margin-top:1.5rem;
    
      }

 .facebook, .instagram, .whatsapp{
   &__icon{
   height:2.5rem;
   width:2.5rem;
   fill:var(--color-white);
   margin:2.6px;

   &:hover{
   fill:var(--color-primary-light);

   }
   }
 }

 .portfolio{
 display:flex;
 justify-content:ceneter;
 align-items:center;


 &__column{
     flex-basis:30%;
     margin:0.5rem;

 }

 &__image{
     width:100%;
     margin-top:.5rem;
     overflow:hidden;
    


     & img{

     width:100%;
     height:auto;
     filter:saturate(0%) brightness(100%) contrast(100%);
     transition:all 0.3s;

     &:hover{ 
     filter:none;
     transform:scale(1.25);

     }

     }

 }

 }